@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.list-names-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.list-names-para {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  word-spacing: 15px;
}

.add-list-names-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

.folder-ul {
  display: grid;
    justify-items: center;
    margin-top: 33px;
}

.folder-container {
  background: #ffb4ec;
  width: 16rem;
  text-align: center;
  font-size: 25px;
  /* display: grid; */
  /* list-style: none; */
  /* text-decoration: none; */
  padding: 7px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 8px;
}

.folder-link {
  list-style: none;
  text-decoration: none;
  font-family: monospace;
}

